<launch>

  launch-prefix="xterm -e gdb --args"
  launch-prefix="gdb -ex run --args"
  launch-prefix="valgrind --track-origins=yes"
  launch-prefix="vtune -collect hotspots -finalization-mode=none -d 90 --"
<node pkg="planning" name="planning_node" type="planning_node" output="screen" />
<node pkg="rviz" type="rviz" name="rviz"  args="-d $(find planning)/rviz_cfg/test.rviz"/>
</launch>
